<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
</head>
<body>
<script src="http://d3js.org/d3.v3.js"></script>
<script>
	var svg=<%-JSON.stringify(svg)%>
</script>
</body>
</html>
