<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<H2> Tools under developement </H2>
	<% tools.forEach(function(obj){ %>
		<li><a href="<%= obj.url %>"><%= obj.name %></a></li>
	<% }) %>
  </body>
</html>
