<form action="/create" method="post">
	<input type="text" name="username" value="Hyunmin Kim"></input>
	<input type="text" name="email" value="hyun.kim@ucdenver.edu"></input>
<button type="submit">Go</button>
</form>

<div>
	<%- users %>
</div>


